.main-sidebar {
  background: #700070;
  width: 125px;
  height: 50%;
  padding: 20px;
  position: fixed;
  margin: auto;
  top: 25%;
  right: auto;
  bottom: auto;
  left: 0px;
  z-index: 1;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.7);
}
