.main-sidebar {
  background: #3f273f;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.7);
  width: 200px;
  height: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  right: -135px;
  /* right: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3s;
}

.main-sidebar:hover {
  right: 0;
}
