.main-content {

  padding: 70px 0;
  margin: 0 auto;
  width: 800px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.main-content h2 {
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 25px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #67049e;
  font-weight: bold;
}

.steps-content {
  padding: 15px;
  margin: 0px 0px 10%;
  z-index: 0;
  border-radius: 10px;
  width: 80%;
  background: #d9d9d9;
  box-shadow: 5px 7px 5px grey;
  border-radius: 10px;

}

body .p-component {
  font-size: 50px;
}


div .steps-custom ul {
  display: flex;
  justify-content: center;
}

div .steps-custom a {
  width: 120px;
}
