.main-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

fieldset {
  /* background: rgba(0, 0, 255,0.2); */
  border: 2px solid #613661;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  min-height: 400px;
  padding-top: 30px;

}

.input-content .p-float-label {
  /* position: inline-flex; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  /* background: #0000ff; */
}

legend {
  margin-bottom: 0px;
  margin-left: 16px;
  color: #67049e;
  font-weight: bold;
}

.input-content .election-name-wrapper .lb-input {
   /* background: #00ff00; */
  position: relative;
  top: 30px;
  color: #67049e;
  font-weight: bold;
  margin-left: 12px;
}


.input-content .candidates-input-wrapper .lb-input {
  /* background: #00ff00; */
 position: relative;
 top: 200px;
 color: #67049e;
 font-weight: bold;
 margin-left: 12px;
}

.input-content .p-float-label .p-float-label-input {
  position: relative;
  /* background: #00ff00; */
  /* border: 2px solid black; */
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.input-content .p-float-label .p-float-label-input label {
 /* background: #00ff00; */
 position: absolute;
 top: -10px;
 color: #67049e;
 font-weight: bold;
 margin-left: 7px;
}

.input-content .lb-input {
  position: absolute;
  color: #67049e;
  font-weight: bold;
  margin-left: 10px;
}

.input-content .lb-input {
  position: relative;
  color: #67049e;
  font-weight: bold;
}

.input-content #input-election-name {
  color: black;
  margin: 10px 10px 10px;
  min-width: 97%;
  border: 1px solid #67049e;
  margin-bottom: 30px;
}

.input-content #input-election-name:focus {
  box-shadow: 0 0 3px #67049e;
}


.input-content #input-domain-address {
  color: black;
  margin: 10px 10px 10px;
  width: 200px;
  border: 1px solid #67049e;

}

.input-content #input-domain-address:focus {
  box-shadow: 0 0 3px #67049e;
}


.input-content #cadidates-input-id ul {
  color: black;
  margin: 10px 10px 10px;
  min-width: 30%;
  width: 97%;
  max-width: 97%;
  border: 1px solid #67049e;
  margin-bottom: 30px;
}

.input-content #cadidates-input-id ul:focus {
  box-shadow: 0 0 3px #67049e;
}


.input-content #calendar-input-begin input {
  color: black;
  margin: 10px 10px 10px;
  width: 173px;
  border: 1px solid #67049e;
}

.input-content #calendar-input-begin input:focus {
  box-shadow: 0 0 3px #67049e;
}

.input-content #calendar-input-end input {
  color: black;
  margin: 10px 10px 10px;
  width: 173px;
  border: 1px solid #67049e;
}

.input-content #calendar-input-end input:focus {
  box-shadow: 0 0 3px #67049e;
}
