.home-wrapper {
  /* background: #ff0000; */
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 40px;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-wrapper span {
  /* background: #0000ff; */
  width: 96%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
}

.bt-input-send, .bt-input-reset {
  margin-left: 10px;
  background: #f3f3f3;
  border: 1px solid #089e00;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  font-weight: bold;
  transition: all 0.3s;
}

.bt-input-send:hover {
  color: #f3f3f3;
  background: #089e00;
}

.bt-input-reset {
  background: #f3f3f3;
  border: 1px solid #375ff8;
}

.bt-input-reset:hover  {
  color: #f3f3f3;
  background: #375ff8;
}

#home-search-input {
  width: 100%;
  color: black;
  border: 1px solid #67049e;
}

#home-search-input:focus {
  box-shadow: 0 0 3px #67049e;
}

.lb-input {
  color: #67049e !important;
  font-weight: bold !important;
}

.home-content {
  /* position: absolute; */
  /* margin: auto; */
  /* right: 0; */
  /* left: 0; */
  /* top: 0; */
  /* bottom: 0; */
  margin-top: 30px;
  width: 100%;
  min-width: 630px;
  min-height: 340px;
  /* width: 825px; */
  height: 90%;
  /* height: 525px; */
  /* background: rgba(0,255,0,1); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.election-description {
  background: rgba(255, 255, 255, 0.7);
  width: 400px;
  /* width: 96%; */
  height: 180px;
  /* border: 2px solid #000000; */
  margin-top: 5%;
  margin-left: 20px;
  border-radius: 5px;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
}

.election-description strong {
  padding: 10px;
  width: 100%;
  height: 40px;
  color: #4a4a4a;
  font-weight: bold;
  font-size: 15pt;
  /* background: #0000ff; */
  text-align: center;
}

.chartjs-render-monitor {
  position: absolute;
  top: -50%;
}

.election-description ul {
  height: 60%;
  width: 55%;
  padding-left: 10px;
  /* margin-left: 5%; */
  /* margin-top: -20px; */
  /* margin-top: 25px; */
  list-style: none;
  /* background: #00ff00; */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.election-description li {
  margin-top: 10px;
  font-size: 10pt;
  color: #4a4a4a;
  /* background: #0000ff; */
}

.election-description ul li div {
  width: 10px;
  height: 10px;
  display: inline-flex;
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.home-navigation {
  /* background: #ff0000; */
  width: 96%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
