.main-form {
  min-height: 500px;
  margin-top: 30px;
  position: relative;
  /* background: #ff0000; */
}

.main-form h1 {
  text-align: center;
  color: #ffff;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding: 2px;
  margin-bottom: 5px;
  /* border: 1px solid #ffffff; */
  box-shadow: 0px 0px 5px rgb(82, 51, 82);
  border-radius: 5px;
  /* background-image: linear-gradient(to right, rgba(97, 54, 97, 1), rgba(97, 54, 97, 0.6)) */
  background: rgb(82, 51, 82);
}

.main-form h2 {
  text-align: center;
  /* color: #67049e; */
  color: rgb(82, 51, 82);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.bt-input-confirm {
  background: #f3f3f3;
  border: 1px solid #089e00;
  border-radius: 10px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 40px;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;

}



.bt-input-confirm:hover {
  color: #f3f3f3;
  background: #089e00;

}
