.button-sidebar {
  color: #ffffff;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;

  padding: 2px;
  position: static;
  margin-top: 5px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  display: block;
}

.button-sidebar:hover {
  background: rgba(255, 255, 255, 0.3);
}
